.MakerPage{
  height: 100%;
  margin: 0px;
}

.topMenu{
  color: 'white';
  font-size:  '18px';
  position: absolute;
  height: 6%;
  width: 96%;
  border-radius: 30px;
  top: 2%;
  left: 2%;
}

.botMenu{
  background-color: #DF79CE;
  font-size:  '18px';
  position: absolute;
  height: 6%;
  width: 96%;
  border-radius: 30px;
  bottom: 2%;
  left:2%;
  display: flex; /* Enable flexbox */
  /* justify-content: center; Horizontal alignment */
  align-items: center; /* Vertical alignment */
}

.botMenuText {
  height: auto; /* No need for a fixed height */
  width: auto; /* Adjust width dynamically */
  text-align: center;
  padding: 5px; /* Optional for better spacing */
  margin-left: 4%;
}

.LPContent{
  background-color: #F3CEED;
  width: 80%;
  height: 70%;
  position: absolute;
  border-radius: 10px;
  top: 15%;
  left: 10%;
  display: grid;
  grid-template-columns: 15% 40% 35% 10%; /* Defines the proportional layout */
  align-items: center; /* Aligns items vertically */
}

.VNCreationMenu{
  background-color: #F3CEED;
  width: 90%;
  height: 76%;
  position: absolute;
  border-radius: 10px;
  top: 12%;
  left: 5%;
}



.LPLogoContent {
  background-color: yellow; /* Optional for visibility */
  text-align: center;
  width:90%;
  aspect-ratio: 1;
  border-radius: 50%;
  border-color: black;
  border-width: 2;
  border-style: dotted;
  align-items: center; /* Aligns items vertically */
}

.LPMenuContent {
  display: flex; 
  flex-direction: column; 
  justify-content: center; /* Center buttons vertically */
  text-align: left;
}

.LPGenerateVNButton {
  background-color: #79dfce; /* Button background color */
  padding: 10px 20px; /* Button size */
  margin: 5px 0; /* Space between buttons */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  text-align: left;
  height: 100px;
}

.LPPlayGameButton {
  background-color: #79dfce; /* Button background color */
  padding: 10px 20px; /* Button size */
  margin: 5px 0; /* Space between buttons */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  text-align: left;
  width: 40%;
}


.VNCreationTopBar {
  background-color: #026211; /* Button background color */
  height: 10%;
  border-radius: 10px;
  margin: 1%;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  align-items: center; /* Aligns items vertically */
}

.VNCreationMenuContent{
  /* background-color: pink; */
  height: 86%;
  
}

.VNCreationTab{
  align-items: center;
  text-align: center;
  width: 80%;
  background-color: #F3CEED;;
  margin-left: 10%;
  height: 60%;
  border-radius: 30px;
  cursor: pointer;
}

.VNCreationTabSelected {
  align-items: center;
  text-align: center;
  height: 80%;
  margin-top: 4%;
  width: 80%;
  margin-left: 10%;
  background-color: #F3CEED;
  border-radius: 30px;
}

.VNCreationTabText{
  margin-top: 3%;
}

.VNCreationNext{
  position:absolute;
  bottom: 3%;
  background-color: #025211;
  color: white;
  height: 10%;
  width: 20%;
  right: 3%;
  cursor: pointer;
}

.GameInfoMenu {
  max-width: 90%;
  margin-left: 0%;
  margin-top: 5%;
}

.GameInfoMenu .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.GameInfoMenu label {
  flex: 0 0 150px; /* Fixed width for label */
  text-align: right; /* Right-align the text */
  margin-right: 15px;
  font-weight: bold;
}

.GameInfoMenu select,
.GameInfoMenu input,
.GameInfoMenu textarea {
  flex: 1; /* Input fields take remaining space */
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.GameInfoMenu .radio-group {
  display: flex;
  gap: 15px;
}

.GameInfoMenu input[type="radio"] {
  margin-right: 5px;
}


.BackgroundMenu {
  padding: 20px;
}

.BackgroundMenu .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  gap: 10px; /* Spacing between items */
  align-content: center; /* Vertically centers the grid content */
  justify-items: center; /* Horizontally centers items in each grid cell */
  margin-top: -2%;
}

.BackgroundMenu .background-item {
  position: relative;
  width: 90%;
  padding-top: 50%; /* Maintain aspect ratio */
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.BackgroundMenu .background-item:hover {
  filter: brightness(70%);
}

.BackgroundMenu .delete-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.BackgroundMenu .delete-icon:hover {
  background-color: darkred;
}


.BackgroundMenu .image-generator-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.BackgroundMenu .image-container {
  flex: 1;
  min-width: 60%;
  max-width: 60%;
  height: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BackgroundMenu .generated-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.BackgroundMenu .input-container {
  flex: 1;
  min-width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BackgroundMenu textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.BackgroundMenu .button-container {
  margin-top: 10px;
  
}

.BackgroundMenu button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color 0.3s ease;
}

.BackgroundMenu button:hover {
  background-color: #0056b3;
}

.BackgroundMenu button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.BackgroundMenu .backButton {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
}

.BackgroundMenu .newButton {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 40px;
  bottom: 40px;
  background-color: red;
}






.characterMenu {
  padding: 20px;
}

.characterMenu .grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 items per row */
  gap: 10px; /* Spacing between items */
  align-content: center; /* Vertically centers the grid content */
  justify-items: center; /* Horizontally centers items in each grid cell */
  margin-top: -2%;
}

.characterMenu .background-item {
  position: relative;
  width: 90%;
  aspect-ratio: 1;
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  transition: filter 0.3s ease;
  background-color: lightgrey;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
}

.characterMenu .background-item:hover {
  filter: brightness(70%);
}

.characterMenu .delete-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  elevation: 10;
}

.characterMenu .delete-icon:hover {
  background-color: darkred;
}


.characterMenu .image-generator-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.characterMenu .image-container {
  flex: 1;
  min-width: 60%;
  max-width: 60%;
  height: 400px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterMenu .generated-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.characterMenu .input-container {
  flex: 1;
  min-width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.characterMenu textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.characterMenu .button-container {
  margin-top: 10px;
  
}

.characterMenu button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.characterMenu button:hover {
  background-color: #0056b3;
}

.characterMenu button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.characterMenu .backButton {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
}

.characterMenu .newButton {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 40px;
  bottom: 40px;
  background-color: red;
}

.characterMenu .menu-container {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.characterMenu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.characterMenu .back-button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.characterMenu .character-card {
  margin-top: 20px;
}

.characterMenu .character-layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.characterMenu .avatar img {
  display: block;
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.characterMenu .avatar  {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterMenu .character-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 15px; /* Spacing between elements */
  width: 100%;
}

.characterMenu .character-form label {
  grid-column: span 1; /* Labels span one column */
}

.characterMenu .character-form input,
.characterMenu .character-form select {
  grid-column: span 1; /* Inputs/selects align with their labels */
}

.characterMenu .character-form #additional-info {
  grid-column: span 2; /* Full width (second column only) */
  height: 100px;
  resize: vertical;
}

.characterMenu .character-form .full-width {
  grid-column: span 2; /* Make label for "Additional Information" span full width */
}

.characterMenu .character-layout {
  display: flex;
  align-items: flex-start;
  gap: 20px; /* Space between avatar and form */
}

.characterMenu .character-form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px; /* Space between columns */
  margin-top: -5%;
  align-items: start; /* Align content at the top */
}

.characterMenu .form-left,
.characterMenu .form-right {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between elements */
  width: 80%;
  /* align-items: center; */
  justify-content: center;
}

.characterMenu .form-right textarea {
  min-height: 120px; /* Ensure adequate height for the textarea */
}

.characterMenu .character-sprites-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.characterMenu .character-sprites-button:hover {
  background: #555;
}
